<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="oz.budget.management">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Launcher"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="oz.budget.management.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1479098748222652~5930496028" />

        <activity
            android:name="oz.budget.management.features.transactionform.TransactionFormActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="oz.budget.management.features.categoryform.CategoryFormActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="oz.budget.management.features.budgetform.BudgetFormActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>